/* Global Start */
html, body{
    margin: 0;
    padding: 0;
    user-select: none;
}

.btn{
	color: #151515;
	background-color: #FFF;
}

.btn:focus{
	box-shadow: none;
}

.btn:hover{
	background-color: #EEEEEE;
}
/* Global End */